{% load static %}

<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>eGESVEN - Inicio</title>
    <script type="module" src="../static/js/cart.js"></script>
    <link rel="stylesheet" href="{% static 'css/inicio.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<style>
    .cart {
        position: absolute;
        width: 15px;
        height: 15px;
        right: 8px;
        top: 1px;
        border-radius: 100%;
        background-color: skyblue;
        outline: 1px solid white;
    }

    .cart::after {
        content: attr(data-count);
        color: black;
        font-size: 0.7rem;
        position: absolute;
        transform: translateX(-50%) translateY(-5%);
        /* display: inline-block; */
    }
</style>

<body>

    <nav class="navbar navbar-expand-lg navbar-transparent">
        <div class="container">
            <a class="navbar-brand" href="{% url 'inicio' %}">
                <img src="{% static 'img/logo.png' %}" alt="eGESVEN Logo" class="img-fluid" style="max-height: 130px;">
            </a>

            <form class="form-inline mx-auto">
                <input class="form-control" type="search" placeholder="Buscar productos :D" aria-label="Buscar">
            </form>
            <div class="bg-primary p-2">

                <a href="/productos" class="btn btn-link text-white">Productos</a>

                {% if user.is_authenticated %}
                <span class="text-muted">Hola, {{ user.username }}</span>
                <a href="{% url 'usuarios:logout' %}" class="btn btn-primary">Cerrar sesión</a>
                {% else %}
                <a href="{% url 'usuarios:login' %}" class="btn btn-link text-white">Iniciar sesión</a>
                <a href="{% url 'usuarios:registro' %}" class="btn btn-link text-white">Registrarse</a>
                {% endif %}

                <a style="position: relative;" href="/carrito" class="btn btn-link text-white" id="cart-link">
                    <img src="{% static 'img/carrito.png' %}" alt="Carro de compras" style="max-height: 30px;">
                    <span class="cart" data-count="0"></span>
                </a>

            </div>
        </div>
    </nav>

    <div class="container mt-5">
        <div class="row">
            {% for producto in productos %}
            <div class="col-md-3">
                <div class="card mb-4">
                    <img src="{{ producto.imagen.url }}" class="card-img-top" alt="{{ producto.nombre }}">
                    <div class="card-body text-center" style="background-color: #f8f9fa; border-top: 1px solid #ddd;">
                        <h5 class="card-title" style="color: #333; font-weight: bold;">{{ producto.nombre }}</h5>
                        <p class="card-text" style="color: #555; font-size: 14px;">{{ producto.descripcion }}</p>
                        <p class="text-primary font-weight-bold" style="font-size: 16px;">${{ producto.precio }}</p>
                        <button
                            onclick="addToCart({ id: '{{ producto.id }}', nombre: '{{ producto.nombre }}', precio: {{ producto.precio }} })"
                            class="btn btn-success">AGREGAR AL CARRO</button>
                    </div>
                </div>
            </div>
            {% empty %}
            <div class="col-12">
                <p class="text-center text-muted">No hay productos disponibles en este momento.</p>
            </div>
            {% endfor %}
        </div>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>